.product__banner{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.product__banner > img{
    margin: 0 auto;
    width: 100%;

}
.product_left_box_1{
    width: 900;
    height: 400px;
    border: 1px solid lightgray;
    margin-left: 20px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 auto; */
}
.product_left_box_2{
    width: 900px;
    height: 600px;
    border: 1px solid lightgray;
    margin-left: 20px;
    /* margin: 0 auto; */
}
.product__detail {
    display: flex;
    /* max-width: 90%; */
    /* margin: 0 auto; */
    justify-content: space-evenly;
}
.product_right_box_1{
    width: 400px ;
    height: 200px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 50px;
}
.product_right_box_2{
    width: 400px ;
    height: 190px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 25px;
}
.product_right_box_3{
    width: 400px ;
    height: 100px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 25px;
    padding: 15px;
}

.product_right_box1_content_r1 {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 30px;
}

.product_right_box1_content_r2{
    max-width: 80%;
    margin: 0 auto;
    font-size: 18px ;
    color: grey;
    font-weight: 500;
    margin-top: 10px;
}
.product_right_box1_content_r3{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    margin-top: 30px;
}
.product_right_box_4{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-weight: bold;
    cursor: pointer;
}
.product_right_box_5{
    width: 400px ;
    height: 220px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 25px;
}
.product__right__box__2__c1{
    max-width: 90%;
    margin: 0 auto;
    margin-top: 5px;
}
.product__right__box__2__c2{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.product__right__box__2__c3 {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 20px;

}
.product__right__box__2__c3 > button {
    width: 100%;
      height: 40px;
      background-color: rgb(0,47,52);
      border: rgb(0,47,52);
      border-radius: 5px;
      color: white;

}

.product__right__box__2__c4{
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.product__right__box__2__c4 > i{
    font-size: 25px;
}
.product__right__box__2__c4 > p{
    text-decoration: underline;
    color: rgb(155,215,255);
    cursor: pointer;
}