@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.header__location__input {
    width: 350px;
    height: 45px;
    border: 2.5px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}
.header__location__input__1 > i{
    font-size: 30px;
}
.header__location__input__3 > i{
    font-size: 40px;
    cursor: pointer;
}
.header__location__input__2 > input{
    border: none;
    outline: none;
}
.header__product__searching__wrapper{
    display: flex;
}

.header__product__searching{
    width: 550px;
    height: 45px;
    border-radius: 5px;
    border: 2.5px solid black;
    margin-left: 15px;
    background-color: white;
}
.header__product__searching__{
    width: 450px;
    height: 45px;
    border-radius: 5px;
    border: 2.5px solid black;
    margin-left: 15px;
    background-color: white;
}
.header__product__searching > input{
    width: 80%;
    height: 40px;
    border: none;
    outline: none;
}
.header__product__searching__ > input{
    width: 80%;
    height: 40px;
    border: none;
    outline: none;
}
.header__product__searching__btn{
    width: 50px;
    height: 45px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 5px; */
}
.header__product__searching__btn > i{
    color: white;
    font-size: 22px;
}
.header__btns{
    margin-left: 40px;
    display: flex;
}

.header__user__detail{
    display: flex;
}
.header__user__chat__opt > i{
    font-size: 21px;
    margin-top: 10px;
    cursor: pointer;

}
.header__user__bell__opt > i{
    font-size: 21px;
    margin-left: 15px;
    margin-top: 10px;
    cursor: pointer;

}
.header__user__avtar__img{
    margin-left: 15px;
    cursor: pointer;
}
.user__profile__dropdown__  > i {
    font-size: 35px;
    margin-left: 15px;

}
.dropdown-menu-right{
    width: 300px !important;
    margin-top: 20px;
    height: 500px;
}
.frame {
    text-align: center;
  }
  
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  
  
  
  
  /* 3 */
  .btn-3 {
    background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    margin-left: 20px;
    
  }
  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-3:before,
  .btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
  .btn-3:before {
    height: 0%;
    width: 2px;
  }
  .btn-3:after {
    width: 0%;
    height: 2px;
  }
  .btn-3:hover{
     background: transparent;
    box-shadow: none;
  }
  .btn-3:hover:before {
    height: 100%;
  }
  .btn-3:hover:after {
    width: 100%;
  }
  .btn-3 span:hover{
     color: rgba(2,126,251,1);
  }
  .btn-3 span:before,
  .btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
  .btn-3 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-3 span:after {
    width: 0%;
    height: 2px;
  }
  .btn-3 span:hover:before {
    height: 100%;
  }
  .btn-3 span:hover:after {
    width: 100%;
  }
  
/* ----user-card--------------- */
.cards__list{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    
    flex-wrap: wrap;
    margin-top: 10px;
    /* margin-left: 30px; */

}
.user__card{
    width: 330px;
    height: 290px;
    border: 1px solid lightgray;
    border-radius: 5px;
   
    margin-top: 30px;
    cursor: pointer;
}

.user__card__content__1{
    /* max-width: 90%; */
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.content__1__2 > i{
    font-size: 21px;
    color: rgb(0,47,52);
    font-weight: bold;
}
.user__card__content__2{
    max-width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
.user__card__content__3{
    max-width: 90%;
    margin: 0 auto;
    font-size: 18px;
    color: rgba(0,47,52,.64);;
}
.user__card__content__4{
    max-width: 90%;
    margin: 0 auto;
    font-size: 18px;
    color: rgba(0,47,52,.64);
    margin-top: 30px;
}
.content__1__3{
    width: 80px;
    height: 25px;
    border: 1px solid rgb(255,206,50);
    background-color: rgb(255,206,50);
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}
.header__login__div {
  cursor: pointer;
  font-size: 20px;
  text-decoration: underline;
  color: rgb(0,47,52);
  font-weight: 500;
  margin-top: 5px;
}

.header__logout__div {
    margin-left: 15px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: underline;
    color: rgb(0,47,52);
    font-weight: 500;
    margin-top: 5px;
  }

.header__logout__btn > button{
    width: 110px;
    height: 40px;
    border-radius: 25px;
    background-color: crimson;
    border: rgb(29,139,204); 
    outline: none;
}