.header__wrapper__section__box{
    width: 100% !important;
    height: 75px;
    background-color: rgb(247,248,249);
    box-sizing: border-box;
}
.header__wrapper__content__{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
}
.header__wrapper__heading__ > h4{
    margin-top: 25px;
    font-weight: bold;
}


.header__wrapper__content__ > i{
        margin-top: 30px;
        font-size: 35px;
        cursor: pointer;
}
.header__wrapper__content__ > h3{
    margin-top: 28px;
    margin-left: 30px;
    cursor: pointer;
}
.form__section{
    margin-top: 20px;
}
.card__conetnent__1 > input{
    width: 60%;
    height: 50px;
    border-radius: 5px;
    border-color:none;
    outline: none;
    border-top-color: lightgray;
    
}
.card__conetnent__1 > input:focus{
  border: 3px solid black;
    
}
.card__conetnent__2 > input{
    width: 60%;
    height: 50px;
    border-radius: 5px;
    border-color:none;
    outline: none;
    border-top-color: lightgray;
    
}
.card__conetnent__2 > input:focus{
  border: 3px solid black;
    
}
.card__conetnent__3 > input{
    width: 60%;
    height: 50px;
    border-radius: 5px;
    border-color:none;
    outline: none;
    border-top-color: lightgray;
    
}
.card__conetnent__3 > input:focus{
  border: 3px solid black;
    
}
.card__conetnent__4 > input{
    width: 60%;
    height: 150px;
    border-radius: 5px;
    border-color:none;
    outline: none;
    border-top-color: lightgray;
    
}
.card__conetnent__4 > input:focus{
  border: 3px solid black;
    
}
.card__conetnent__5 > input{
    /* width: 60%; */
    height: 50px;
    border-radius: 5px;
    border-color:none;
    outline: none;
    border-top-color: lightgray;
    
}
.card__conetnent__5 > input:focus{
  border: 3px solid black;
    
}
.card__content__7 > input{
    width: 300px;
    height: 43px;
}
.images__form > button{
    width: 200px;
}
.card__content__7 > input{
    width: 60%;
    height: 50px;
    border-radius: 5px;
    border-color:none;
    outline: none;
    border-top-color: lightgray;
}
.card__content__7 > input:focus{
    border: 3px solid black;

}
.card__content__9 > input{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border-color:none;
    outline: none;
    border-top-color: lightgray;
}
.card__content__9 > input:focus{
    border: 3px solid black;

}


@media(max-width:1100px){

.card__conetnent__1 > input{
   width: 90%;   
}
.card__conetnent__2 > input{
    width: 90%;   
 }
 .card__conetnent__3 > input{
    width: 90%;   
 }

}

@media(max-width:790px){
    textarea{
        width: 80%;
    }
  
    .form__card__content{
        max-width: 85% !important;
    }
    .card__conetnent__5 > input{
        max-width: 250px;
    }
    .card__content__9 > input{
        max-width: 250px !important;

    }
}

@media(max-width:360px){
    .form__card__content{
        max-width: 90% !important;
    }
}
